.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container {
    text-align: center;
  }
  
  ngx-charts-bar-vertical {
    display: block;
    margin: auto;
  }
  